<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Conversor web</title>
  <meta name="description" content="Conversor de vídeos web usando Zencoder. Projeto prático do processo seletivo da Samba Tech">
  <meta name="author" content="Matheus Cassiano Candido">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.clappr.io/latest/clappr.min.js"></script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="content">

    <br /><br /><br />

    <div class="container">

      <div id="player"></div>

      <script>
        var player = new Clappr.Player({source: "{{ video.url|safe }}", parentId: "#player"});
      </script>

      <br />

      Enviado em {{ video.created }}.
    </div>

  </div>

</body>
</html>